#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
h1, p{
  padding: 0;
  margin: 0;
  font-size: 30px;
}
.breed--text{
  font-size: 18px;
}
.wrapper{
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 30px 50px;
}
.addForm{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}
.input{
  padding: 10px 15px;
  border: 1px solid rgb(126, 29, 195);
}
.input--rounded-corners{
  border-radius: 5px 0 0 5px;
}
.buttonAdd{
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  background-color: rgb(126, 29, 195);
  box-shadow: 0 0 10px rgb(126, 29, 195);
  color: white;
  transition: transform 0.2s ease-in;
    &:hover{
      transform: scale(1.1)
  }
}
.label{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.animalWrapper{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.singleAnimal{
  display: flex;
  flex-direction: column;
  width: 27%;
  padding: 20px;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0 0 10px white;
    text-align: center;
}
.appWrapper{
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.buttonAnimalDelete{
  padding: 5px;
  border: none;
  background-color: rgb(126, 29, 195);
  box-shadow: 0 0 10px rgb(126, 29, 195);
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease-in;
    &:hover{
      transform: scale(1.1)
  }
}
.animalImage{
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
}